<div th:fragment="film_card(film)" class="card shadow-lg mb-5"
    style="width: 18rem; border-radius: 1rem; overflow: hidden;">

    <a th:href="@{'/film-' + ${#strings.replace(film.name, ' ', '-')}}" style="text-decoration: none; color: inherit;">
        <div class="card-body" href="">
            <h5 class="card-title fw-bold mb-2" th:text="${film.name}">Назва фільму</h5>
            <p class="card-text small mb-1" th:text="${film.year}">Рік випуску</p>
            <p class="card-text small mb-0" th:text="${film.rating}">Рейтинг</p>
            <p class="card-text small mb-0">
                <!-- <img th:if="${!#strings.isEmpty(film.pictureUrl)}" th:src="${film.pictureUrl}" style="width: 10rem"> -->

                <img src="https://picsum.photos/800" style="width: 10rem">
            </p>
        </div>
    </a>
</div>

<div th:fragment="filters" class="col-3 bg-info p-3 text-dark">

    <h5 class="mb-3">🎭 Genre</h5>
    <select class="form-select mb-4">
        <option selected>Select genre</option>
        <option>Action</option>
        <option>Drama</option>
        <option>Comedy</option>
        <option>Fantasy</option>
        <option>Horror</option>
    </select>

    <h5 class="mb-3">📅 Year</h5>
    <div class="mb-3">
        <input type="text" id="yearRange" class="form-control-plaintext" readonly>
    </div>

    <div id="slider-range">
    </div>

    <h5 class="mb-3">🔞 NSFW</h5>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="nsfwSwitch">
        <label class="form-check-label" for="nsfwSwitch">Show NSFW content</label>
    </div>

    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 1980,
                max: 2030,
                values: [1980, 2025],
                slide: function (event, ui) {
                    $("#yearRange").val(ui.values[0] + " - " + ui.values[1]);
                }
            });

            $("#yearRange").val(
                $("#slider-range").slider("values", 0) +
                " - " +
                $("#slider-range").slider("values", 1)
            );
        });
    </script>
</div>