<div th:fragment="film_card(film)" class="card shadow-lg mb-5"
    style="width: 18rem; border-radius: 1rem; overflow: hidden;">

    <div class="card-body">
        <h5 class="card-title fw-bold mb-2" th:text="${film.name}">Назва фільму</h5>
        <p class="card-text small mb-1" th:text="${film.year}">Рік випуску</p>
        <p class="card-text small mb-1" th:text="${film.comment}">Коментарь</p>
        <p class="card-text small mb-0" th:text="${film.rating}">Рейтинг</p>
        <p class="card-text small mb-0">
            <img src="https://picsum.photos/200" th:src="${film.pictureUrl}" style="width: 10rem">
        </p>
    </div>
</div>