<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
<head>
  <title>Film</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- link rel="stylesheet" type="text/css" media="all" 
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" /-->
  <meta name="author" content="Urzagur">
  <meta name="deskription" content="Films">
  <meta name="keywords" content="filmlist, film">

  <link rel="stylesheet" href="../../main.css">
  <link rel="icon" href="images/icon.png">

  <div id="include" th:replace="~{fragments/include.html}"></div>
</head>
